// -----------------------------------------------------------------------------
//* This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  --text: #fff;
  --background: transparent;

  background: var(--background);
  color: var(--text);
  padding: 2.8em 0;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, opacity 0.3s, visibility 0.3s;

  // Scroll animation class
  &--scrolled {
    --text: #1a1f27;
    --background: #fff;
    box-shadow: 0 3px 20px rgba(black, 0.2);
  }
}
