// -----------------------------------------------------------------------------
//* This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;

  &__hero {
    margin-top: 3em;

    & button {
      animation: appear 0.8s;
    }
  }
  &__text {
    color: $color-white;
    font-size: 7.2rem;
    text-transform: uppercase;
    animation: moveInRight 1.2s ease-out;
    margin-bottom: 1em;
  }
}
