.nav {
  padding: 2.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: appear 0.8s;

  // navigation logo
  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  // navigation list
  &__list {
    display: flex;
    list-style: none;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--header {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        width: 0;
        z-index: 3;
        left: -100%;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }

  // navigation item
  &__item {
    @include respond(tab-port) {
      padding: 0.5em 1.2em;
      font-weight: $regular;
    }

    &:not(:last-child) {
      margin-right: 3em;

      @include respond(tab-land) {
        margin-right: 2em;
      }
      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: 2.5em;
      }
      @include respond(phone-small) {
        margin-right: 0;
        margin-bottom: 1.5em;
      }
    }
  }

  // navigation link
  &__link {
    &,
    &:active,
    &:focus {
      color: $color-white;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: $medium;
      text-transform: capitalize;
      position: relative;
      outline: none;

      @include respond(tab-port) {
        font-size: 4rem;
        text-transform: uppercase;
      }
      @include respond(phone-small) {
        font-size: 2rem;
      }
    }

    // Hover bar
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: $color-primary-light;
      transform: scaleX(0);
      transition: all 0.3s;
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }

    // logo link
    &--logo {
      transition: all 0.3s;
      &::after {
        display: none;
      }
      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  // Hamburger menu
  &__checkbox,
  &__label,
  &__background {
    display: none;
  }

  &__background {
    @include respond(tab-port) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(
        to bottom,
        $color-primary-light,
        $color-primary-dark
      );
      z-index: 2;
      transform: translateY(-100%);
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &__label {
    @include respond(tab-port) {
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 50%;
      background: $color-blue-darker;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;

      @include respond(phone-small) {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }

  &__icon {
    &,
    &::after,
    &::before {
      position: relative;
      width: 3.5rem;
      height: 4px;
      background-color: $color-white;
      border-radius: 3px;
      transition: all 0.3s;
      display: inline-block;

      @include respond(phone-small) {
        height: 3px;
        width: 2.5rem;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
    }
    &::before {
      top: -1.1rem;
      @include respond(phone-small) {
        top: -0.9rem;
      }
    }

    &::after {
      top: 1.1rem;
      @include respond(phone-small) {
        top: 0.9rem;
      }
    }
  }

  //* Hamburger functionality

  // background appear
  &__checkbox:checked ~ &__background {
    transform: translateY(0);
  }

  // icon transparent
  &__checkbox:checked ~ &__label,
  &__checkbox:checked ~ &__label &__icon {
    background: transparent;
  }

  // rotations
  &__checkbox:checked ~ &__label &__icon::after {
    width: 100%;
    transform: translateX(-50%) rotate(135deg);
    top: 0;
  }
  &__checkbox:checked ~ &__label &__icon::before {
    width: 100%;
    transform: translateX(-50%) rotate(-135deg);
    top: 0;
  }

  // list appear
  &__checkbox:checked ~ &__list {
    opacity: 1;
    width: 100%;
    left: 0;
  }
}
