.explore-card {
  color: $color-white;
  display: flex;

  &--left {
    align-items: flex-end;
  }

  &--right {
    justify-content: flex-end;
  }

  @include respond(tab-port) {
    display: block;
  }

  &__box {
    $grid-width: 114rem;
    $box-position: -30%;
    z-index: 1;
    width: 46rem;
    position: relative;
    padding-bottom: 6.18em;

    @include respond(tab-land) {
      $grid-width: 85rem;
      $box-position: -15%;
      width: 38rem;
    }

    @include respond(tab-port) {
      $grid-width: 55rem;
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -40%;
      width: calc(
        100% + (#{$box-position} * -1) + ((100vw - #{$grid-width}) / 2)
      );
      height: 140%;
      z-index: -1;
      background: $color-blue-darker;

      @include respond(tab-port) {
        display: none;
      }
    }

    &--right {
      &::before {
        left: $box-position;
      }
    }

    &--left {
      &::before {
        right: $box-position;
      }
    }
  }

  &__heading {
    display: inline-block;
    font-weight: $medium;
    font-size: 4.8rem;
    text-transform: uppercase;
    padding: 1rem 2rem 2rem 3rem;
    position: relative;
    line-height: 46px;
    margin-bottom: 1.4em;

    @include respond(tab-land) {
      font-size: 3.6rem;
      line-height: 36px;
    }

    @include respond(tab-port) {
      padding-left: 0;
      margin: 0;
      &::after,
      &::before {
        display: none;
      }
    }

    @include respond(phone) {
      font-size: 2.4rem;
      line-height: 24px;
      padding: 0;
    }
    @include respond(phone-small) {
      font-size: 2rem;
      line-height: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.2rem;
      background-color: $color-primary-light;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
      height: 1.2rem;
      background-color: $color-primary-light;
    }

    &--right {
      padding-left: 0;
      &::before {
        left: auto;
        right: 0;
      }
      &::after {
        left: auto;
        right: 0;
      }
    }
  }

  &__paragraph {
    color: $color-grey-dark;
    line-height: 32px;
    font-size: 2.4rem;

    &:not(:last-child) {
      margin-bottom: 2em;
      @include respond(tab-port) {
        margin: 0;
      }
    }

    @include respond(tab-land) {
      font-size: 2rem;
      line-height: 28px;
    }

    @include respond(tab-port) {
      display: none;
      padding: 2em;
      color: $color-blue-darker;
      &:last-child {
        display: none !important;
      }
    }

    @include respond(phone) {
      font-size: 1.6rem;
      line-height: 25px;
    }
  }

  &__checkbox {
    display: none;
  }

  &__heading-box {
    @include respond(tab-port) {
      $grid-width: 55rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.8em 1.2em 2.4em 1.2em;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc((100vw - #{$grid-width} / 2) * -1);
        right: calc((100vw - #{$grid-width} / 2) * -1);
        height: 100%;
        background: $color-blue-darker;
        border-bottom: 3rem solid $color-blue-dark;
        z-index: -1;
      }
    }

    @include respond(phone) {
      justify-content: center;
    }
  }

  &__label {
    display: none;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    @include respond(tab-port) {
      display: block;
    }
    @include respond(phone) {
      width: 30px;
      height: 30px;
    }
  }

  &__plus-icon {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.8rem;
      height: 90%;
      border-radius: 8px;
      background: $color-primary-light;
      @include respond(phone) {
        width: 0.5rem;
      }
    }
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  // plus icon functionallity
  &__checkbox:checked ~ &__heading-box &__label {
    transform: rotate(45deg);
  }
  &__checkbox:checked ~ &__paragraph {
    display: block;
    animation: slide-down 0.3s ease-out;
  }
}
