.explore-card {
  color: $color-white;
  display: flex;

  &--left {
    align-items: flex-end;
  }

  &--right {
    justify-content: flex-end;
  }

  &__box {
    z-index: 1;
    width: 38rem;
    position: relative;
    padding-bottom: 3em;

    &::before {
      content: "";
      position: absolute;
      top: -40%;
      height: 100%;
      width: calc(160% + ((100vw - 114rem) / 2));
      height: 140%;
      z-index: -1;
      background: $color-blue-darker;
    }

    &--right {
      &::before {
        left: -60%;
      }
    }

    &--left {
      &::before {
        right: -60%;
      }
    }
  }

  &__heading {
    display: inline-block;
    font-weight: $medium;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 1rem 2rem 2rem 3rem;
    position: relative;
    line-height: 40px;
    margin-bottom: 1.4em;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1.2rem;
      background-color: $color-primary-light;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
      height: 1.2rem;
      background-color: $color-primary-light;
    }

    &--right {
      padding-left: 0;
      &::before {
        left: auto;
        right: 0;
      }
      &::after {
        left: auto;
        right: 0;
      }
    }
  }

  &__paragraph {
    color: $color-grey-dark;
    line-height: 25px;
    font-size: 2rem;

    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}
