.logo-box {
  width: 200px;

  &--nav {
    width: 60px;
    @include respond(phone-small) {
      width: 40px;
    }
  }
}

.logo-text {
  margin-left: 0.5em;
  color: $color-white;
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 3rem;
  @include respond(phone-small) {
    font-size: 2rem;
  }
}
