// -----------------------------------------------------------------------------
//* This file contains styles that are specific to the home page such as section styles.
// -----------------------------------------------------------------------------
.explore {
  margin-top: 6em;

  @include respond(tab-port) {
    text-align: center;
    margin-top: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5rem;
    & .explore__intro-box {
      grid-column: 1/3;
      position: relative;
    }

    & .explore-card--right {
      grid-column: 3/5;
    }
    & .explore-card--left {
      grid-column: 1/3;
    }
    & .explore__gallery--right {
      grid-column: 3/5;
      display: flex;
      justify-content: flex-end;
    }

    @include respond(tab-port) {
      display: block;
    }
  }

  &__intro-box {
    width: 48rem;
  }

  &__intro {
    font-size: 3.6rem;
    font-weight: $medium;
    color: $color-grey-dark;
    width: 44.4rem;
    line-height: 40px;

    @include respond(tab-land) {
      font-size: 2.4rem;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__gallery-box {
    width: 40rem;

    @include respond(tab-land) {
      width: 37rem;
    }
    @include respond(tab-port) {
      display: none;
    }

    &--left {
      position: absolute;
      bottom: -2rem;
      img:not(:last-child) {
        margin-bottom: 2em;
      }
    }
    &--right {
      img:not(:last-child) {
        margin-bottom: 2em;
      }
    }
  }
}

.tours {
  margin: 7.5em 0;
  padding: 4.8em 0;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 3.5em 0;
  }

  &__heading-box {
    @include respond(tab-port) {
      & > * {
        margin: 0;
      }

      display: flex;
      justify-content: center;
    }
  }

  &__list {
    margin-top: 5.3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 35rem));
    grid-gap: 2.8em;
    justify-content: center;

    @include respond(tab-port) {
      margin-top: 3em;
    }
  }
}
