// -----------------------------------------------------------------------------
//* This file contains all animations, @keyframes.
// -----------------------------------------------------------------------------
@keyframes moveInRight {
  0% {
    opacity: 0.1;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
