// -----------------------------------------------------------------------------
//* This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//* Fonts
$default-font-size: 1.6rem;

//* Colors
$color-white: #fff;
$color-black: #000;

$color-primary-light: #c39215;
$color-primary-dark: #a85b00;
$color-secondary-light: #52ceff;

$color-blue-darker: #1a1f27;
$color-blue-dark: #252b36;
$color-blue: #05455e;
$color-blue-white: #e8f3f7;

$color-grey-dark: #9f9f9f;
$color-grey-light: #c4c4c4;

//* Breakpoints
$max-width: 114rem;
